@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

img {
  border-radius: 5px;
}

#movie_card div:hover {
  transform: translateY(-20px);
  transition: all 0.4s;
  cursor: pointer;
}
